<main>
  <div class="grid" style="min-width: 1200px; min-height: 85vh">
    <div class="col">
      <p-tabView class="custom-tab-view">
        <p-tabPanel header="Generated List">
          <app-generated-list></app-generated-list>
        </p-tabPanel>
        <p-tabPanel header="Stats"><app-stats></app-stats></p-tabPanel>
      </p-tabView>
    </div>
    <div class="col-3">
      <app-generator
        [loading]="isGenerateBtnLoading"
        (action)="generateRandomInteger()"
      ></app-generator>
    </div>
  </div>
</main>
