main {
  margin-top: 2.5rem;

  app-generator {
    display: block;
    margin-top: 2.6rem;
  }

  .stickify-container {
    width: inherit;

    &.stickify {
      position: fixed;
      top: 1rem;
    }
  }
}
